{% load static %}
{% load i18n %}
 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  <link rel="stylesheet" href="{% static 'core/css/cardorder.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
  <link  href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% comment %} favicon {% endcomment %}
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/images/logo-tap-icon.png' %} ">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'core/images/logo-blingo-512x512.png' %} ">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'core/images/logo-blingo-192x192.png' %} ">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/images/logo-blingo-apple-touch-icon.png' %} ">
    <link rel="shortcut icon" href="{% static 'core/images/logo-tap-icon.png' %}"> 
  {% comment %} favicon {% endcomment %}
  <!-- mapbox JS MAP -->
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.14.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.14.0/mapbox-gl.js"></script>
  <!--// END  mapbox JS MAP //-->
  <title>{% trans 'Blingo | Order' %}</title>
</head>

<body >
  {% comment %} <img src="{% static 'core/images/checkout-order.webp' %}" alt="checkout" loading="lazy" class="img-fluid imgbg position-fixed" /> {% endcomment %}
  <form
  action="{% url 'cardorder' vendor.vid  %}"
  method="POST" 
>
{% csrf_token %}
  <div class="container-fluid my-5 d-sm-flex ">
    <div class="card px-2">
         <center class="p-3"> <h4>{% trans "Details order" %}</h4></center>
        <div class="card-body">
            <div class="media " style="flex-direction: column;width: 100%;">
              
<!-- card order -->
                <div data-product-id="{{p.pid}}" class="media-body align-items-center checking" style="width: 100%;">
                  {% comment %} <div>
                    <img src="{% static 'core/images/app-store.jpg' %}" alt="app-store" loading="lazy">
                  </div> {% endcomment %}


                
                  <hr>
                  
                  
                </div>
                <hr>
            </div>
        </div>
        
         <div class="card-footer  bg-white px-sm-3 pt-sm-4 px-0">
            <div class="row text-center  ">
                
              <div class="col  my-auto  border-line "><a href="{% url 'product' vendor.vid  %}" ><h5>{% trans "back to Order" %}</h5></a></div>
                <div class="col  my-auto  border-line "><a href="{% url 'index'  %}" ><h5>{% trans "Cancel" %}</h5></a></div>
                <div class="col  my-auto mx-0 px-0 "><img class="img-fluid cursor-pointer" src="https://img.icons8.com/ios/50/000000/menu-2.png" width="30" height="30"></div>
            </div>
        </div>
    </div>



    <div class="main-center">
      <!-- Author: FormBold Team -->
      <!-- Learn More: https://formbold.com -->
      <div class="form-container">
          <img
              src="https://ucarecdn.com/412d5bde-bec7-49c8-94c9-f6df6434ed12/address.png"
              alt="Address Form Image"
              class="form-img"
          />
        
              <div style="margin-bottom: 2rem">
                  <h2 class="form-title">{% trans "Form order" %}</h2>
                  <p class="form-desc">
                      {% trans "Please provide your address details below. Fields marked with  are required." %}
                      
                  </p>
              </div>
  
            
  
              <label for="phone" class="form-label"
                  >{% trans 'Phone Number' %}</label
              >
              <input
                  type="tel"
                  name="phone"
                  id="phone"
                  class="form-input"
                  placeholder="Enter your phone number"
              />
  
              <input type="hidden" name="send_delivry_service" id="delivery_price_input" class="summary_Delivery_service" value="200">


              <label for="address-line-1" class="form-label"
                  >{% trans 'Street Address*' %}</label
              >
              <input
                  type="text"
                  name="address-line-1"
                  id="address-line-1"
                  class="form-input"
                  placeholder="House No., Road Name, etc."
                  required
              />

              <label for="country" class="form-label"
                  >{% trans 'Select your location*' %}
                </label>
              
              <select name="country" id="country" class="country form-input" multiple required>

                <div style=" overflow-y: auto; margin-bottom: 1rem;" >
  
                <option value="الزاوية العابدية">الزاوية العابدية</option>
                  <option value="تبسبست">تبسبست</option>
                  <option value="حي الرمال">حي الرمال</option>
                  <option value="حي المستقبل">حي المستقبل</option>
                  <option value="دراع البارود"> دراع البارود</option>
                  <option value="حي 360 مسكن"> حي 360 مسكن</option>
                  <option value="حي 450 مسكن">حي 450 مسكن</option>
                  <option value="حي 700 مسكن">حي 700 مسكن</option>
                  <option value="حي 300 مسكن">حي 300 مسكن</option>
                  <option value="حي الأمل">حي الأمل</option>
                  <option value="حي الفتح">حي الفتح</option>
                  <option value="حي الزهور">حي الزهور</option>
                  <option value="حي النصر">حي النصر</option>
                  <option value="حي السلام">حي السلام</option>
                  <option value="حي القدس">حي القدس</option>
                  <option value="حي النسيم">حي النسيم</option>
                  <option value="حي الواحات">حي الواحات</option>
                  <option value="حي الورود">حي الورود</option>
                  <option value="النزلة">  النزلة </option>
                  <option value="لبدوع">  لبدوع </option>
                  <option value="تماسين">  تماسين </option>
                  <option value="لمقارين">  لمقارين </option>
                  <option value="بلدة عمر">  بلدة عمر </option>
                  <option value="بلدة سيدي سليمان">مقر</option>
                  <option value="بلدة سيدي سليمان">   بلدة سيدي سليمان </option>
                  <option value="القوق">القوق</option>
                </div>

                </select>
              
  
              <label for="notes" class="form-label"
                  >{% trans 'Additional notes (Optional)' %}</label
              >
              <textarea
                  type="text"
                  name="notes"
                  id="address-line-2"
                  class="form-input"
              ></textarea>
              <hr >

              <h2>{% trans "Bill" %}</h2>
              <div  style="display: flex;flex-direction: column; justify-content: space-between; width: 100%;">
                
                <div class="summary" >
                   <p>{% trans "Order total" %}</p>
                   <p class='summary_order_tolal'></p>
                </div>
                  
                <div class="summary">
                   <p>{% trans "Delivery service" %} </p>
                   <p class="end_Delivery_service">  </p>
                </div>

                <div class="summary">
                   <h5>{% trans "Total" %}</h3> 
                    <h5 class="summary_order_all"> </h5>
                </div>
                
              </div>
  
              <div class="form-checkbox-row">
                  <input
                      type="checkbox"
                      id="declaration"
                      class="form-checkbox"
                      required
                  />
                  <label
                      for="declaration"
                      style="margin: 0; font-weight: 500"
                      class="form-label">
                      {% blocktrans %}I confirm this address is accurate for {% endblocktrans %} {{request.user}}
                    </label>
              </div>
              
                
              <button   type="submit" class="form-btn">{% trans 'Submit Order' %}</button>


      </div>
  </div>
        

</div>
</form>

<!-- <div id="map" style=""></div> -->

<!-- Location -->
{% block scripts %}

<script>





  
  
</script>
<script src="{% static 'core/js/cardorder.js' %}"  ></script> 
{% endblock %}



</body>
</html> 