{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<main style="padding: 5% 2%; ">
  <section class="banner">
    <div class="left" style="width: max-content;">
      <div class="top">
         <h2>{{category.categoress}}</h2>
        
      </div>
      <div class="bottom">
         <span class="material-symbols-outlined" style="font-size: 17px;margin:3px 0;" >{% trans 'Home' %}</span>→ <p>{% trans 'category' %}→ {{category.categoress}}</p>
      </div>
    </div>
    <div class="right">
      <ul>

        
      </ul>
    </div>
  </section>

  <div class="row ">
    
  <div class="col-md-12  ">
   <div  class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4">

{% for p in products %}
<div data-product-id="{{p.pid}}" class="col"> 
 <div class="product-item">
   <p style="display:none;" class="vendor-id">{{p.vendor.vid}}</p>
   {% if get_precentage %}
   <span class="badge bg-success position-absolute m-3">{{p.get_precentage|floatformat:0}}%</span>
  {% endif %}
   <a class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
   <figure style="height:30vh;">
     <a href="{% url 'productDetils' p.pid %}" title="{{ p.title }}">
       <img style="height:100%; width:100%; border-radius:10px;" src="{{p.image.url}}" alt="{{p.title}}" loading="lazy">
     </a> 
   </figure> 
   <h3 class="name-of-product">{{p.title}}</h3>
   <p class="category-of-product" style="color: rgb(182, 182, 182);">{{p.category.categoress}}</p>
   <span class="price price-in-pro-item">{{p.price}}</span>
   <span style="color: rgb(182,182,182); text-decoration: line-through; font-size:14px; margin-left:10px;" class="old_price">DZ{{p.old_price}}</span>
 </div>
</div>
{% endfor %}

  </div>
  </div>
  </div>
  
</main>


{% block scripts %}
<script>  
    // علّم أننا دخلنا لصفحة product_category نخزن المسار الكامل
      // علّم أننا دخلنا لصفحة product_category
      sessionStorage.setItem('was_in_product_category', 'true');
    
</script>
{% endblock %}

{% endblock content %}