.d-flex {
  align-items: flex-start;
  justify-self: start;
  gap: 10px;
}
@media (max-width: 500px) {
  .d-flex {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }
  .p-3 {
    padding: 0rem !important;
  }
  .pc-4 {
    padding: 0.5rem !important;
  }
  .icon-oder-detils {
    width: 30px;
  }
  .mt-2 {
   font-size: 12px !important;
  }
}
